:root{
  background-color: rgb(215, 208, 208);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: white;
  width: 30vw;
  height: 70vh;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 0px 20px gray;
  padding-bottom: 5px;
}

input{
      padding: 9px 55px;
      width: 50%;
  border-radius: 20px;
  background-color: rgb(205, 235, 225);
  /* background-color: rgb(191, 238, 191); */
  font-size: medium;
  border: 2px solid rgb(154, 151, 151);
}

.temp{
     font-size: 57px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;
    font-weight: 700;
}
.degree{
  font-size: 25px;
  font-weight: 700;
}

.Weather-info{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.description{
  margin-top: 2px;
  color: rgb(92, 90, 90);
  font-weight: 600;

}

.wind-speed{
  margin-top: 2px;
  color: rgb(92, 90, 90);
  font-weight: 600;
}

.date{
  color: rgb(92, 90, 90);
  font-weight: 600;
}

.weather-city{
     font-size: 37px;
}

.weather-heading{
  color:green
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media (max-width:1100px) {
  .container{
    width: 50vw;
  }
}

@media (max-width:700px) {
  .container{
    width: 85vw;
    height: 60vh;
  }
}



